@import url('fonts.css');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fa {
    background: #333;
    color: #fff;
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
}
.navbar {
    border-bottom: 3px solid #008ed6;
    background: #292b2c;
    opacity: 0.7;
}
nav .fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0.5rem;
}
.navbar-dark .navbar-brand {
    color: #fff;
}
.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
#home-section {
    background: url(../img/home.jpg) no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    color: #fff;
}
#home-section .dark-overlay {
    background: rgba(0, 0, 0, 0.7);
    min-height: 700px;
}
#home-section .home-inner {
    padding-top: 150px;
    padding-bottom: 50px;
}
#home-section .fa {
    background: #fff;
    color: #008ed6;
    padding: 4px;
    font-size: 30px;
    border-radius: 5px;
}